<% layout("/layouts/boilerplate")%>
<div class="row mt-4">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
  action="/listings/<%= listing._id %>?_method=PUT"
  enctype="multipart/form-data"
  novalidate
  class="needs-validation"
    >
      <!-- Title field -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          required
          class="form-control"
          id="title"
        />
        <div class="valid-feedback">Title look good!</div>
        <div class="invalid-feedback">Title shoud be attractive!</div>
      </div>

      <!-- <br /><br /> -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          rows="4"
          cols="40"
          class="form-control"
          id="description"
          required
        >
<%= listing.description %></textarea
        >
        <div class="valid-feedback">Description look good!</div>
        <div class="invalid-feedback">Description should be short</div>
      </div>

      <!-- <br /><br /> -->

      <!-- Image URL -->

      
      
     <div class="mb-3">
        Original Listing Image<br />
        <img src="<%=originalImageUrl%>" />
      </div>
      <div class="mb-3">
        <lable for="image" class="form-label">Upload New Image</lable>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

     



      <!-- <br /><br /> -->

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            min="0"
            class="form-control"
            id="price"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <!-- <br /><br /> -->

        <!-- Country -->
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            id="country"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>

        
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          id="Location"
          required
        />
          <div class="invalid-feedback">Location should be valid</div>
      </div>

      </div>

      <!-- <br /><br /> -->
      <!-- <button type="submit" class="btn btn-dark edit-btn mb-3 btn-sm ">Edit</button> -->
         <div class="d-flex justify-content-center mb-3">
    <button type="submit" class="btn btn-dark edit-btn">
      Edit
    </button>
  </div>
      <!-- ✅ Added type="submit" -->
    </form>
  </div>
</div>

<!-- </body>
</html> -->

<!-- form validation kr di he jisse koi galat data nhi daaal nhi daal payegaf -->